.cabecalho {
  width: 100%;
  background: var(--bg-transparente);
  padding: 2.5rem 0;
}

.cabecalho .topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cabecalho .topo .logo:hover {
  filter: brightness(120%);
}

.cabecalho .topo .navegacao ul {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
}

.cabecalho .topo .navegacao ul li {
  flex: 1;
}

.cabecalho .topo .navegacao ul li a {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  text-align: center;
  border: 1px solid var(--cor-principal);
  font-family: "Bluu";
}

.cabecalho .topo .navegacao ul li a:hover {
  background: var(--cor-principal);
}