.cabecalho {
  width: 100%;
  background: var(--bg-transparente);
  padding: 2.5rem 0;
}

.cabecalho .copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.cabecalho .copyright p {
  font-size: 1rem;
  line-height: 1;
}

.cabecalho .copyright p {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .1rem;
}

.cabecalho .copyright p a {
  color: var(--cor-principal);
  display: inline-block;
}

.cabecalho .copyright p a:hover {
  text-decoration: underline;
  color: var(--cor-secundaria);
}