@media (max-width: 1000px) {
  .topo,
  .characters {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cabecalho .copyright {
    flex-direction: column;
    gap: 1.25rem;
  }
}

@media (max-width: 900px) {
  .characters {
    grid-template-columns: 1fr 1fr;
  }
  .characters .titulo {
    grid-column: 1 / 3;
    font-size: 2rem;
  }
}

@media (max-width: 620px) {
  .characters {
    grid-template-columns: 1fr;
  }
  .characters .titulo {
    grid-column: 1 / 2;
  }
}

@media (max-width: 470px) {
  .characters .titulo {
    font-size: 1.5rem;
  }
}